.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
.freeman-regular {
  font-family: "Freeman", sans-serif;
  letter-spacing: 1px;
}

.freeman-regular-answer {
  font-family: "Freeman", sans-serif;
  letter-spacing: 5px;
  padding: 5%;
}
  
  

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.audio-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px; 
  color: #333; 
  cursor: pointer;
  
}
  

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #0057b3b1;
  border: 1px solid #ccc;
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  
  

}

.question-header {
  text-align: center;
  margin-bottom: 20px;
}

.question-content {
  text-align: center;
  margin-bottom: 20px;
}

.answer-section {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.answer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  
}

.answer-item {
  flex: 1 1 45%; /* Approximately half the width of the container */
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ccc;
  border-radius: 10px;
  background-color: #0057b3b1;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.answer-item label {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 100%;
  justify-content: center;
  text-align: center;
  
 
}

.answer-item input[type="radio"] {
  margin-right: 10px;
}

.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 10px 12px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-self: center;
  
}
  

@media (max-width: 600px) {
    .button-19 {
      font-size: 12px; /* Ridotto il font-size */
      padding: 8px 10px; /* Ridotto il padding */
    }
  }

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: not-allowed;
  color: red;
 
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.input-text{
    background-color: #1899D6;
    color: black;
    font-size: larger;
    font-weight: bolder;
    margin: 15px;
    border-radius: 16px;
}

.centered-container {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;    /* Centra verticalmente */
  
}

.text-button-custom {
  background: none;
  border: none;
  padding: 0;
  font: inherit; 
  color: inherit; 
  cursor: pointer; 
  text-decoration:none; 
}

.text-button-custom:disabled {
  cursor: not-allowed; 
  color: gray; 
}


.users-list {
  list-style-type: none;
  
}

.styled-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.styled-input:focus {
  border-color: dodgerblue;
  
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
}


.footer-content p {
  
  margin:  2;
  font-size: 14px;
  color: #555;
}

.countdowntext{
  color: black;
  font-size: medium;
}


.rankings-list {
  list-style-type: none;
  padding: 0;
  
}
.rankings-container {
  margin-top: 20px;
}

.rankings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.rank {
  flex: 0.2;
}

.username {
  flex: 0.6;
}

.score {
  flex: 0.2;
}